<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddfantasy.todoapp.mapper.EventsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ddfantasy.todoapp.entity.Events">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="normal_todo_id" property="normalTodoId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, normal_todo_id
    </sql>

</mapper>
