
server:
  port: 8080

spring:
  datasource:
    druid:
      driver-class-name: com.mysql.cj.jdbc.Driver
      url: jdbc:mysql://localhost:3306/todo_db?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&useSSL=false&allowPublicKeyRetrieval=true
      username: root
      password: root


  application:
    name: todo-app


  main:
    allow-bean-definition-overriding: true

  devtools:
    restart:
      # 设置不参与热部署的文件或文件夹,并启动热部署
      #      exclude: static/**,public/**,config/application.yml
      enabled: true


mybatis-plus:
  configuration:
    #在映射实体或者属性时，将数据库中表名和字段名中的下划线去掉，按照驼峰命名法映射
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
#      雪花算法
#      id-type: ASSIGN_ID
#      主键自增
      id-type: AUTO

